* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(22, 22, 22);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 32px 30px;
}

.nv {
    font-size: 22px;
    font-family: 'Neue Haas Grotesk Display Pro';
}

.joey {
    display: flex;
    align-items: flex-end;
    color: rgb(182, 182, 182);
    font-family: 'Windsor', sans-serif;
    letter-spacing: .9px;
    font-size: 17px;
}

.joey-face {
    height: 1.5rem;
    width: 1.5rem;
    padding-right: .5rem;
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 17px;
    font-family: 'Neue Haas Grotesk Display Pro';
}

a {
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-weight: 200px;
    transition: 0.4s;
    padding-bottom: 1px;
}
a:hover {
    color: rgb(122, 113, 175);
}

.main-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro';
    position: relative;
}

h1 {
    text-align: center;
    font-size: clamp(.2rem, 1rem + 10vw, 4rem);
   /* position: absolute; */
}

iframe {
    max-height: 20rem;
    max-width: 50rem;
}

.logo {
    animation: mylastmove 5s infinite;
    animation-duration: 3s;
}




/* NV LOGO Animation */
.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i));
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(90deg) 
    }
  }



  /* Media Query */
  @media only screen and (max-width: 740px) {
    .nav {
        display: flex;
        flex-direction: row;
        gap: 11px;
        font-size: 14px;
    }
    .nv {
        font-size: 20px;
    }
    .joey {
        display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    .nav {
        text-align: right;
    }
  }
